<h3>Interkassa #{{ payment.id }}</h3>

<p>
    {{ 'stfalcon.payment.description' | trans }}}: "{{ payment.description }}"
</p>
<p>
    {{ 'stfalcon.payment.amount' | trans }}}: {{ payment.amount }}
</p>

<form id="interkassa" action="http://www.interkassa.com/lib/payment.php" method="post" target="_top">
    <input type="hidden" name="ik_shop_id" value="{{ settings.shop_id }}">
    <input type="hidden" name="ik_payment_amount" value="{{ payment.amount }}">
    <input type="hidden" name="ik_payment_id" value="{{ payment.id }}">
    <input type="hidden" name="ik_payment_desc" value="{{ payment.description }}">
    <input type="hidden" name="ik_paysystem_alias" value="">
    <input type="submit" name="process" value="{{ 'stfalcon.payment.pay' | trans }}}">
</form>
